body, html {
  background-image: url('../photos/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


nav {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  padding: 0 1.5em;
  font-family:'Lato', sans-serif;

}

nav .logo {
  font-size: 2em;
  margin-left: 3%;
  line-height: 70px;
  color: white;
}

nav .nav-menu {
  position: absolute;
  right: 2em;
  top: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav .nav-item {
  display: inline-block;
  position: relative;
  
}

nav .nav-item > a {
  display: inline-block;
  padding: 0 1.5em;
  line-height: 70px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
nav .nav-item > a:hover {
  color: rgb(203, 147, 16);
}

nav .dropdown:hover .dropdown-menu {
  display: block;
}
nav .dropdown {
  position: relative; 

}
nav .dropdown a::after {
  content: '';
  display: none;
  margin-left: .5em;
  vertical-align: middle;
  background-color: black;
}

nav .dropdown.show a::after {
  transform: rotate(180deg);
  font-size: 20px;
  display: hide;
  
}
nav .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: .5em 0;
  margin-top: -.5em;
  border-radius: .5em;
  background-color: transparent;
  font-size: 22px;
  content: none;
 
  
} 
nav .dropdown.show .dropdown-menu {
  display: inline-block;

}


nav .dropdown-item {
  display: block;
  padding: 0 1.5em;
  font-size: .875em;
  color: white;
  background-color: black;
  line-height:2;
  text-decoration: none;

}
nav .dropdown-item:hover {
  color: rgb(203, 147, 16);
}
a:active {
  color: rgb(203, 147, 16);
}
nav .btn-hamburger {
  display: none;
  position: absolute;
  right: 1.5em;
  top: 50%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);

}

nav .btn-hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px;
  border-radius: 2px;
  transition: .3s ease-in-out;

}

nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
  position: absolute;
  top: 10px;
  opacity: .5;
 
}
nav .btn-hamburger span:nth-child(4) {
  transform: rotate(45deg) scale(0);

}
nav .btn-hamburger span:nth-child(5) {
  transform: rotate(-45deg) scale(0);

}
nav.opened .btn-hamburger span:nth-child(4) {
  opacity: 1;
  transform: rotate(45deg) scale(1); 
  }
nav.opened .btn-hamburger span:nth-child(5) {
  opacity: 1;
  transform: rotate(-45deg) scale(1);
}
nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
  opacity: 0;
}

h1.a {
  color:white;
  font-size:70px;
  text-align: left;
  margin-top: 12%;
  margin-left: 8%;
  font-family: 'EB Garamond', serif;
  font-family: 'Satisfy', cursive;
  font-family: 'Source Serif 4', sans-serif;
  background-color: transparent;
  position: relative;
  animation-name: example;
  animation-duration: 5s;  
  animation-fill-mode:forwards;
  letter-spacing: 1px;
}

h1.b {
  color:white;
  font-size: 14px;
  text-align: left;
  margin-left: 8%;
  font-family: sans-serif;
  background-color: transparent;
  position: relative;
  animation-name: example;
  animation-duration: 4s;  
  animation-fill-mode: forwards;
  letter-spacing: 8px;
}

@keyframes example {

  from  {top: 0px; opacity: 0%;}
  to    {top: 70px; opacity: 1;}
 } 


 .icon-bar {
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 16px;
}

.icon-bar a:hover {
 color: rgb(203, 147, 16);
}

.facebook {
  background: transparent;
  color: white;
}

.twitter {
  background: transparent;
  color: white;
}

.google {
  background: transparent;
  color: white;
}

.linkedin {
  background: transparent;
  color: white;
}


  @media screen and (max-width: 768px) {

    h1.a {
      font-size:50px;
      margin-top: 35%;  
      } 

    h1.b {
      font-size: 1em;
      font-size: 15px;
      letter-spacing: 5px;
      margin-top: 0;
      }
  nav .nav-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 70px; 
    bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: black;
    overflow: hidden;
 }
 
 nav.opened {
   background-color: black;
 }
 nav.opened .nav-menu {
   bottom: 0;
   top: 10;
 }
 nav .nav-item > a {
   display: block;
   text-align: center;
   
 }
 nav .nav-item > a:hover {
   color: rgb(203, 147, 16);
 }

 nav .dropdown-menu {
   position: relative;
   top: 0;
   margin: 0 1 .5em;
   text-align: center;
   align-content: center;
 }
 nav .btn-hamburger {
   display: block;

  }
  }