body {
  background: url('../photos/main.jpg') no-repeat center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  main {
    width: 100%;
    margin: 0 auto;
    height: 130vh;
    padding-top: 6em;   

}
*, *::before, *::after {
  
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  padding: 2em;
  width: 80%;
  text-align: center;
}

.progress-bar {
	position: relative;
	width: 100%;
	height: 1em;
	background-color: gray;
	color: white;
 
}

.progress-bar::before {
	content: attr(data-label);
	display: flex;
	position: absolute;
  height: 1em;
	width: calc(var(--width, 0) * 1%);
	min-width: none;
	max-width: calc(100% - 12em);
	background-color: #81c9e3;
  animation: progressAnimation 5s;
}

@keyframes progressAnimation {
  0%   { width: 0px; background-color:#81c9e3;}
  100% { width: 70%; background-color:  #0a6b8c; }
}

h1.a {
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  font-size: 7em;
  text-align: center;
  letter-spacing: 0.2em;
}
h3.a {
  font-size: 0.9em;
  color: white;
  letter-spacing: 0.6em;
  font-family:'Dosis', sans-serif;
  padding: 2em;
}


.container button {
  border: none;
  margin-top: 20%;
  outline: none;
  background: #81c9e3;
  color: black;
  font-size: 14px;
  cursor: pointer;
  padding: 17px 70px;
  pointer-events: visible;
}
.container button a {
  text-decoration: none;
  color: black;
}
.container button:hover {
  background-color: #0a6b8c;
  opacity: 0.6;
  color: white;
}
p{
  float: left;
  color: #fff;
  font-family: sans-serif;
  font-size: 1em;
}
p.a {
  float: right;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1em;

}

.button {
  width: 100;
  background-color: transparent;
  border-width: 2.5px;
  border-style: solid;
  border-color:  white ;
  padding: 2em;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
.wrapper {
  margin: auto;
  text-align: center;
  padding-top: 10em;
  
}

.button {
  text-decoration: none;
  border-radius: 50%;
  margin: 15px;

}
img {
padding:8px;
}
.footer {
  padding-top: 2em;
}
h6.b {
  font-size: 0.8em;
  font-family: 'Dosis';
  color: white;
  text-align: center;
  letter-spacing: 0.em;
}


@media screen and (max-width: 768px) {

 main {
    width:fit-content;
    height: min-content;
   
  }
  h1.a {
    font-size: 4em;
  }
  h3.a {
  font-size: 1em;
  text-align: center;
  padding: 1em;
}
.wrapper {
  margin: auto;
  padding: 1em;
}
.button {
  padding: 2em;
}

}

@media screen and (min-width: 769px) {
  .container {
    margin: auto;
    padding: 1em;
    width: 30%;
    text-align: center;
  }
}


.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    width: 50%;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
    background-color: #81c9e3;
}

.come-from-modal.right.fade .modal-dialog {
  text-align: center;
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}

input[type=text] {
  width: 50%;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  text-align: center;
  display: inline-block;
  border:black;
  border-style: solid;
  background: #f1f1f1;

  

}


input[type=text]:focus {
  padding: 1em;
  background-color: #ddd;
  outline: none;

}


button.C {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button.C:hover {
  opacity:1;
}



/* Float signup buttons and add an equal width */
 .signupbtn {
  float: center;
  width: 50%;
  padding: 1em;
  text-align: center;
  background-color:black;
  color: #fff;
}
.signupbtn:hover {
background-color: #0a6b8c;
}

/* Add padding to container elements */
/*.containerC {
  text-align: center;
  padding-top: 10em;
}*/



h1.C {
padding-top: 4em;
text-align: center;
font-size: 2.5em;
letter-spacing: 0.1em;
}
 h5 {
  text-align: center;
  font-size:1em;
  letter-spacing: 0.1em;
  margin-top: 5px;
  margin-bottom: 5px;
}
 

.modal-dialog .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  color: black;
}

.close:hover{
  color: #0a6b8c;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
 .signupbtn {
     width: 100%;
  }
}